.banner {
  background-image: url('https://unsplash.it/1000/400?image=0');
  padding: 50px;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.banner-content {
  color: #FFF;
  position: relative;
  z-index: 30;
}

.banner-shadow {
  background-color: rgba(255,0,0,0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;

  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(179,179,179,0.68) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(179,179,179,0.68)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(179,179,179,0.68) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(179,179,179,0.68) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(179,179,179,0.68) 100%);
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(179,179,179,0.68) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#b3b3b3', GradientType=1 );
}/* code your banner design here */
